<%- include('../../partial/admin/header') %>
<div class="container">
  <h2>All Question</h2>
  <div class="text-right">
    <a href="/admin/post/getPDF" class="btn btn-success align-right">Export Data as PDF</a>
    <a href="/admin/post/getExcel" class="btn btn-success align-right">Export Data as Excel</a>
    <a href="/admin/test/getAddQuestion" class="btn btn-primary align-right">Add Question</a>
</div>
<br>
  <% if(count>0){ %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
      
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% questions.forEach(function(question){ %>

      <tr>
        <td><%= question.questionTitle %></td>
       
        <td><a href="/admin/test/getEditQuestion/<%= question.id %>">Edit</a></td>
        <td><a href="/admin/test/deleteQuestion/<%= question.id %>">Delete</a></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
  <%}else{%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>No Post Found</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% } %>
 
</div>
<%- include('../../partial/admin/footer') %>
